.pro-overlap {
  height: 760px;
  width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.pro-chart {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 8px 8px 19.9px 1px #00000040;
  height: 700px;
  width: 1216px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  height: 600px;
  width: 1100px;
}