.pro-overlap {
  height: 760px;
  width: 1216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.pro-chart {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 8px 8px 19.9px 1px #00000040;
  height: 600px;
  width: 1008px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  height: 500px;
  width: 908px;
}

.pro-rectangle {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 8px 8px 19.9px 1px #00000040;
  height: 86px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  width: 310px;
}

.pro-text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 283px;
}

.pro-text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 32px;
}