.login .navbar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 312px;
  position: absolute;
  width: 690px;
}

.login .navbar a {
  text-decoration: none;
}

.login .text-wrapper {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 100px;
}

.login .game-mind {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 100px;
  justify-content: center;
  width: 312px;
}

.login .text-wrapper-2 {
  color: #304674;
  font-family: "Inter-Black", Helvetica;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.login .sign-in {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 0;
  right: 0;
}

.login .text-wrapper-3 {
  background-color: #304674;
  border: none;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  transition: transform 0.38s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.login .text-wrapper-3:hover {
  transform: scale(1.05);
  cursor: pointer;
}