.mem-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1216px;
  height: 600px;
}

.mem-rectangle-2 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 8px 8px 19.9px 1px #00000040;
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.mem-text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 150px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mem-title {
    margin: 0;
}
.mem-text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 96px;
  font-weight: 400;
  width: 800px;
  height: 250px;
  display: flex;
  justify-content: center;
}

.mem-highscore {
    margin: 0;
}