.register {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.register .overlap-group-wrapper {
  background-color: #ffffff;
  height: 1024px;
  width: 1920px;
}

.register .overlap-group {
  background-color: #d8e1e880;
  border: 1px solid;
  border-color: #000000;
  height: 1024px;
  position: relative;
}

.register .rectangle {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 8px 8px 19.9px 1px #00000040;
  height: 850px;
  left: 559px;
  position: absolute;
  top: 86px;
  width: 800px;
}

.register .div {
  background-color: #ffffff;
  border: 3px solid;
  border-color: #bdc6cd;
  border-radius: 10px;
  height: 75px;
  left: 663px;
  position: absolute;
  top: 264px;
  width: 592px;
}

.register .rectangle-2 {
  background-color: #ffffff;
  border: 3px solid;
  border-color: #bdc6cd;
  border-radius: 10px;
  height: 75px;
  left: 663px;
  position: absolute;
  top: 399px;
  width: 592px;
}

.register .rectangle-3 {
  background-color: #ffffff;
  border: 3px solid;
  border-color: #bdc6cd;
  border-radius: 10px;
  height: 75px;
  left: 663px;
  position: absolute;
  top: 534px;
  width: 592px;
}

.register .text-wrapper {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 111px;
  left: 559px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 86px;
  width: 800px;
}

.register .p {
  color: #242424;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 59px;
  left: 663px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 642px;
  width: 592px;
}

.register .already-have-an {
  color: transparent;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 95px;
  left: 663px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 840px;
  width: 592px;
}

.register .span {
  color: #242424;
}

.register .text-wrapper-2 {
  color: #1d72d8;
}

.register .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 43px;
  left: 663px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 220px;
  width: 592px;
}

.register .text-wrapper-4 {
  color: #a3a3a3;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 75px;
  left: 712px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 263px;
  width: 198px;
}

.register .text-wrapper-5 {
  color: #a3a3a3;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 75px;
  left: 712px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 398px;
  width: 198px;
}

.register .text-wrapper-6 {
  color: #a3a3a3;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 75px;
  left: 712px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 533px;
  width: 244px;
}

.register .text-wrapper-7 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 43px;
  left: 663px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 355px;
  width: 592px;
}

.register .text-wrapper-8 {
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 43px;
  left: 663px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 490px;
  width: 592px;
}

.register .sign-in {
  align-items: center;
  background-color: #1d72d8;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 75px;
  justify-content: center;
  left: 663px;
  overflow: hidden;
  padding: 10px 60px;
  position: absolute;
  top: 725px;
  width: 592px;
}

.register .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}